@model IEnumerable<CoffeeFinder.Models.RateListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeShopId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeSelection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cleanliness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableAmenities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CoffeeShopId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerService)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CoffeeSelection)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cleanliness)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AvailableAmenities)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OverallRating)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
